<section>
	<div class="col-xs-12 page-404">
		<div class="col-xs-12 logo-company">
			<a href="/"><img src="images/start-page.png"/></a>
		</div>
		<div class="col-xs-12 content-404">
			<h1>404</h1>
			<h4>Page not found</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Earum quibusdam cupiditate ipsum a dolor quia placeat, quidem quas obcaecati <br>aliquid assumenda pariatur mollitia impedit laudantium necessitatibus <br>aut aspernatur ducimus at?</p>
			<a href="#">Back to home</a>
			<p class="or">or</p>
			<form action="search-page" method="POST">
				<input type="text" placeholder="search on this sites" required/>
			</form>
		</div>
	</div>
	<% include components/_footer %>
</section>