<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" class="no-js">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>oti][ito -- design by [volitilov]</title>
	<meta name="keywords" content="" />
	<meta name="description" content="Theme [oti][ito] - bootstrap version"/>
	<meta name="author" content="[volitilov]" />
	<link rel="shortcut icon" href="/images/favicon.png" type="/images/favicon.png"/>
	<link rel="icon" href="/images/favicon.png" type="/images/favicon.png"/>

	<link rel="stylesheet" href="/style/main.css"/>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>
	<main>
		<%- yield %>
	</main>
	
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.js"></script>
	
</body>

</html>