<section>
	<% include components/head/_head-portfolio %>
	<div class="col-xs-12 animated fadeIn portfolio">
		<% include components/_multi-menu-portfolio %>
	</div>
	<% include components/_footer %>
</section>