<section>
	<% include components/head/_head-programs %>
	<% include components/_big-menu-1 %>
	<% include components/_programs %>
	<% include components/_big-menu-2 %>
	<% include components/_footer %>
</section>