<section>
	<% include components/head/_head-projects %>
	<% include components/_big-menu-1 %>
	<% include components/_projects %>
	<% include components/_big-menu-2 %>
	<% include components/_footer %>
</section>