<section>
	<% include components/head/_head-search %>
	<div class="col-xs-12 search-page">
		<div class="col-xs-12 col-md-2 panell-left"></div>
		<div class="col-xs-12 col-md-8 search-page-content">
			<% include components/_search-item %>
			<% include components/_search-item %>
			<% include components/_search-item %>
			<% include components/_search-item %>
			<% include components/_search-item %>
			
			<% include components/_pagination %>
		</div>
		<div class="col-xs-12 col-md-2 panell-right tags">
			<ul>
				<li><a href="#">tag 1</a></li>
				<li><a href="#">tag 2</a></li>
				<li><a href="#">tag 3</a></li>
				<li><a href="#">tag 4</a></li>
				<li><a href="#">tag 5</a></li>
				<li><a href="#">tag 5</a></li>
				<li><a href="#">tag 6</a></li>
				<li><a href="#">tag 7</a></li>
				<li><a href="#">tag 8</a></li>
				<li><a href="#">tag 9</a></li>
			</ul>
		</div>
	</div>
	<% include components/_footer %>
</section>