<section>
	<% include components/head/_head-services %>
	<% include components/_big-menu-1 %>
	<% include components/_big-menu-2 %>
	<section>
		<div class="col-md-12 block services text-center">
			<div class="col-md-12 card">
				<div class="col-md-4 grid-block animated bounceInDown">
					<div class="col-md-12 services-item">
						<h5>Working with data:</h5>
						<ul>
							<li><a href="#">Big Data ?</a></li>
							<li><a href="#">Data mining ?</a></li>
							<li><a href="#">Machine learning ?</a></li>
							<li><a href="#">Scalability ?</a></li>
							<li><a href="#">Storage ?</a></li>
							<li><a href="#">SQL ?</a></li>
							<li><a href="#">NoSQL ?</a></li>
							<li><a href="#">Data analysis ?</a></li>
							<li><a href="#">Peer-to-Peer ?</a></li>
							<li><a href="#">Highly loaded system ?</a></li>
							<li><a href="#">Cloud computing ?</a></li>
							<li><a href="#">Data compression ?</a></li>
							<li><a href="#">Semantics ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>Computer visionе:</h5>
						<ul>
							<li><a href="#">Video analysis ?</a></li>
							<li><a href="#">Video processing ?</a></li>
							<li><a href="#">Image analysis ?</a></li>
							<li><a href="#">image processing ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>Information security:</h5>
						<ul>
							<li><a href="#">External security audit ?</a></li>
							<li><a href="#">Internal security audit ?</a></li>
							<li><a href="#">The source code audit ?</a></li>
							<li><a href="#">Protection against attacks ?</a></li>
							<li><a href="#">Cryptographic system ?</a></li>
							<li><a href="#">Work with cryptocurrencies ?</a></li>
							<li><a href="#">Data encryption ?</a></li>
							<li><a href="#">Steganography ?</a></li>
							<li><a href="#">Remediation ?</a></li>
							<li><a href="#">Cryptanalysis ?</a></li>
							<li><a href="#">Digital signature ?</a></li>
							<li><a href="#">Anti-spam filters ?</a></li>
							<li><a href="#">Captcha ?</a></li>
							<li><a href="#">Creation of anonymity ?</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 grid-block animated bounceInDown">
					<div class="col-md-12 services-item">
						<h5>Support sites:</h5>
						<ul>
							<li><a href="#">Support sites ?</a></li>
							<li><a href="#">Modernization sites ?</a></li>
							<li><a href="#">Site administration ?</a></li>
							<li><a href="#">Restore sites ?</a></li>
							<li><a href="#">Redesign of sites ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>Computing design:</h5>
						<ul>
							<li><a href="#">Interface design ?</a></li>
							<li><a href="#">Web layout ?</a></li>
							<li><a href="#">Design (mobile applications) ?</a></li>
							<li><a href="#">Concept art 2D ?</a></li>
							<li><a href="#">Drawing characters ?</a></li>
							<li><a href="#">Create backgrounds ?</a></li>
							<li><a href="#">Рhoto job ?</a></li>
							<li><a href="#">Mattle Painting ?</a></li>
							<li><a href="#">Create skins ?</a></li>
							<li><a href="#">Web design ?</a></li>
							<li><a href="#">UI design ?</a></li>
							<li><a href="#">Interface design ?</a></li>
							<li><a href="#">Work with animation ?</a></li>
							<li><a href="#">3D graphics ?</a></li>
							<li><a href="#">Vector graphics ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>Move:</h5>
						<ul>
							<li><a href="#">Search promotion ?</a></li>
							<li><a href="#">Search engine optimization ?</a></li>
							<li><a href="#">Professional copywriting ?</a></li>
							<li><a href="#">Site analysis ?</a></li>
							<li><a href="#">Market analysis ?</a></li>
							<li><a href="#">Advertising on the Internet ?</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 grid-block animated bounceInDown">
					<div class="col-md-12 services-item">
						<h5>Development:</h5>
						<ul>
							<li><a href="#">Creating Web sites ?</a></li>
							<li><a href="#">Web portal ?</a></li>
							<li><a href="#">Application software ?</a></li>
							<li><a href="#">Server software ?</a></li>
							<li><a href="#">Mobile applications ?</a></li>
							<li><a href="#">Game Development ?</a></li>
							<li><a href="#">E-commerce ?</a></li>
							<li><a href="#">Geographic services ?</a></li>
							<li><a href="#">Highload system ?</a></li>
							<li><a href="#">Browser Extension ?</a></li>
							<li><a href="#">Client optimization ?</a></li>
							<li><a href="#">Data Visualization ?</a></li>
							<li><a href="#">Nesting letters ?</a></li>
							<li><a href="#">Development IoT ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>System management:</h5>
						<ul>
							<li><a href="#">Virtualization ?</a></li>
							<li><a href="#">Server optimization ?</a></li>
							<li><a href="#">Mesh-networks ?</a></li>
							<li><a href="#">Server administration ?</a></li>
							<li><a href="#">Hosting ?</a></li>
						</ul>
					</div>
					<div class="col-md-12 services-item">
						<h5>Translations:</h5>
						<ul>
							<li><a href="#">Technical ?</a></li>
							<li><a href="#">Medical ?</a></li>
							<li><a href="#">Popular science ?</a></li>
							<li><a href="#">Hudojestvennye ?</a></li>
							<li><a href="#">Advertising translation ?</a></li>
							<li><a href="#">Transfers video ?</a></li>
							<li><a href="#">Translation audio ?</a></li>
							<li><a href="#">Legal translations ?</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<% include components/_footer %>
</section>