<section>
	<% include components/head/_head-services %>
	<div class="col-xs-12 animated fadeIn services">
		<% include components/_multi-menu-services %>
	</div>
	<% include components/_footer %>
</section>