<section>
	<div class="col-xs-12 sign-up">
		<div class="col-xs-12 logo-company">
			<a href="/"><img src="images/start-page.png"/></a>
		</div>
		<div class="col-xs-12 sign-up-form">
			<% include components/_sign-up-form %>
		</div>
	</div>
	<% include components/_footer %>
</section>