<section>
	<% include components/head/_head-templates %>
	<% include components/_big-menu-1 %>
	<% include components/_templates %>
	<% include components/_big-menu-2 %>
	<% include components/_footer %>
</section>