<section>
	<nav class="navbar navbar-default head">
		<div class="navbar-header">
			<div class="dop-bg">
				<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
			</div>
			<a href="/" class="navbar-brand">
				<h4>vol<font color="#000">iTi</font>lov</h4>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<p class="navbar-text"><img src="/images/icons/projects/projects-black.svg"/><font color="#000">Projects</font>&emsp;&emsp;the projects are owned by the company volitilov.</p>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form action="search-page" method="POST">
						<input type="text" placeholder="search sites" required/>
					</form>
				</li>
				<li class="sign"><a href="sign-up" title="sign up">Sign up</a></li>
			</ul>
		</div>
	</nav>
</section>