<section>
	<nav class="navbar navbar-default head">
		<div class="navbar-header">
			<div class="dop-bg">
				<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
			</div>
			<a class="navbar-brand" href="/">
				<img alt="Brand" src="./../../images/start-page.png"/>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav menu-icons">
				<li><a href="info" title="info"><img src="./../../images/icons/info/info-grey.svg"/></a></li>
				<li><a href="portfolio" title="portfolio"><img src="./../../images/icons/portfolio/portfolio-grey.svg"/></a></li>
				<li><a href="services" title="services"><img src="./../../images/icons/services/services-grey.svg"/></a></li>
				<li><a href="blog" title="blog"><img src="./../../images/icons/blog/blog-grey.svg"/></a></li>
				<li><a href="contacts" title="contacts"><img src="./../../images/icons/contacts/contacts-grey.svg"/></a></li>
			</ul>
			<p class="navbar-text">Search results</p>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form action="search-page" method="POST">
						<input type="text" placeholder="search sites" required/>
					</form>
				</li>
				<li class="sign"><a href="sign-up" title="sign up">Sign up</a></li>
			</ul>
		</div>
	</nav>
</section>