<section>
	<div class="col-xs-12 advantages text-center animated bounceInDown">
		<div class="col-xs-12 advantages-description">
			<img src="./../images/advantages.svg" />
			<h4>What makes us different from others ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="advantages-item">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_less.svg" width="200" height="140" alt="LESS">
				<h5>LESS</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_components.svg" width="200" height="140" alt="Components">
				<h5>Components</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_themes.svg" width="200" height="140" alt="Themes">
				<h5>Customizer</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_responsive.svg" width="200" height="140" alt="Responsive">
				<h5>Responsive</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</section>