<section>
	<div class="col-md-2 big-menu-1">
		<ul>
			<li>
				<a href="projects" class="animated bounceInLeft data-1">
					<img src="/images/icons/projects/projects-black.svg"/>
					<p>Projects</p>
				</a>
			</li>
			<li>
				<a href="programs" class="animated bounceInLeft data-2">
					<img src="/images/icons/programs/programs-black.svg"/>
					<p>Programs</p>
				</a>
			</li>
			<li>
				<a href="templates" class="animated bounceInLeft data-3">
					<img src="/images/icons/templates/templates-black.svg"/>
					<p>Templates</p>
				</a>
			</li>
			<li>
				<a href="componentss" class="animated bounceInLeft data-4">
					<img src="/images/icons/components/components-black.svg"/>
					<p>Components</p>
				</a>
			</li>
			<li>
				<a href="#" class="animated bounceInLeft data-5">
					<img src="/images/icons/courses-black.svg"/>
					<p>Courses</p>
				</a>
			</li>
		</ul>
	</div>
</section>