<section>
	<div class="col-md-2 big-menu-2">
		<ul>
			<li>
				<a href="#" class="animated bounceInRight">
					<img src="/images/icons/portfolio-black.svg"/>
					<p>Portfolio</p>
				</a>
			</li>
			<li>
				<a href="#" class="animated bounceInRight">
					<img src="/images/icons/services-black.svg"/>
					<p>Services</p>
				</a>
			</li>
			<li>
				<a href="#" class="animated bounceInRight">
					<img src="/images/icons/blog-black.svg"/>
					<p>Blog</p>
				</a>
			</li>
			<li>
				<a href="#" class="animated bounceInRight">
					<img src="/images/icons/info-black.svg"/>
					<p>Info</p>
				</a>
			</li>
			<li>
				<a href="#" class="animated bounceInRight">
					<img src="/images/icons/email-black.svg"/>
					<p>Contacts</p>
				</a>
			</li>
		</ul>
	</div>
</section>