<section>
	<div class="col-md-2 big-menu-2">
		<ul>
			<li>
				<a href="portfolio" class="animated bounceInRight data-6">
					<img src="/images/icons/portfolio/portfolio-black.svg"/>
					<p>Portfolio</p>
				</a>
			</li>
			<li>
				<a href="services" class="animated bounceInRight data-7">
					<img src="/images/icons/services/services-black.svg"/>
					<p>Services</p>
				</a>
			</li>
			<li>
				<a href="itlog" class="animated bounceInRight data-8">
					<img src="/images/icons/itlog/itlog-black.svg"/>
					<p>Itlog</p>
				</a>
			</li>
			<li>
				<a href="info" class="animated bounceInRight data-9">
					<img src="/images/icons/info/info-black.svg"/>
					<p>Info</p>
				</a>
			</li>
			<li>
				<a href="contacts" class="animated bounceInRight data-10">
					<img src="/images/icons/contacts/contacts-black.svg"/>
					<p>Contacts</p>
				</a>
			</li>
		</ul>
	</div>
</section>