<div class="col-xs-12 comments-log-item">
	<div class="col-xs-12 author">
		<ul>
			<li class="author-img"></li>
			<li class="author-name"><a href="#">volitilov</a></li>
			<li>21.07.2014</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo aperiam architecto praesentium doloribus nisi soluta, pariatur porro inventore magni reiciendis quis illo iste fugit sapiente eaque beatae amet assumenda.</p>
	</div>
</div>