<section>
	<div class="col-xs-12 cards animated bounceIn courses-item-2">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-59">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-60">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-61">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-62">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>