<section>
	<div class="col-xs-12 description-company animated bounceInDown">
		<h4>Where you are ?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Dolor repudiandae nesciunt placeat non rerum doloremque sit nisi est, <br>doloribus aspernatur itaque nulla cum, modi accusamus porro officiis inventore, iste exercitationem?</p>
		<div class="col-xs-12 big-logo-sites">
			<div class="col-xs-12 main-images">
				<img src="./../images/oti][ito-image-blue.png"/>
			</div>
		</div>
	</div>
</section>