<section>
	<footer class="col-xs-12" id="contacts">
		<% include ./../components/_menu-contacts %>
		<div class="col-xs-12 footer-body">
			<form method="POST">
				<fieldset>
					<group>
						<label>
							<input class="alert" type="text" name="name" placeholder="name *" requred />
							<legend>name</legend>
						</label>
						<label>
							<input class="alert" type="text" name="email" placeholder="@ email address *" requred />
							<legend>email</legend>
						</label>
					</group>
				</fieldset>
				<fieldset>
					<label>
						<textarea class="alert" name="text" rows="4" placeholder="text heare..." requred ></textarea>
					</label>
				</fieldset>
				<fieldset>
					<label>
						<button type="submit">submit</button>
					</label>
				</fieldset>
			</form>
		</div>
		<div class="col-xs-12 bottom-text">
			<p>© 2016  All rights reserved. Design and development by <a href="#">volitilov</a></p>
			<ul class="text-right">
				<li><i class="fa fa-cc-amex"></i></li>
				<li><i class="fa fa-cc-mastercard"></i></li>
				<li><i class="fa fa-cc-diners-club"></i></li>
				<li><i class="fa fa-cc-paypal"></i></li>
				<li><i class="fa fa-cc-jcb"></i></li>
				<li><i class="fa fa-cc-visa"></i></li>
				<li><i class="fa fa-cc-discover"></i></li>
				<li><i class="fa fa-cc-stripe"></i></li>
			</ul>
		</div>  
	</footer>
</section>