<section>
	<div class="col-xs-12 grid-small-images">
		<ul>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-xs-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>