<section>
	<div class="col-xs-12 help-clients">
		<div class="col-xs-12 help-clients-description">
			<img src="./../images/icons/contacts/contacts-blue.svg" />
			<h4>Contacts ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Temporibus blanditiis aliquam, cupiditate dignissimos, vel delectus accusamus, <br>dolorum cumque tenetur sequi, ex quas. Natus ducimus, modi, beatae quia officiis sed perspiciatis!</p>
		</div>
		<a href="./../contacts" class="a3">contacts</a>
	</div>
</section>