<section>
	<div class="col-xs-12 text-center card animated bounceIn home-item-2">
		<div class="col-xs-12 item-large">
			<div class="col-xs-12 facts-description">
				<img src="/images/facts.svg" />
				<h4>What are the results of our efforts ?</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Voluptatibus necessitatibus soluta qui vitae earum veniam, blanditiis officia hic tenetur.</p>
			</div>
			<div class="col-xs-12 facts">
				<ul>
					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
							<h3>687</h3>
							<p>Completed Projects</p>
						</div>
					</li>

					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
							<h3>142</h3>
							<p>Happy Clients</p>
						</div>
					</li>

					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
							<h3>742</h3>
							<p>Total Download</p>
						</div>
					</li>

					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
							<h3>1548</h3>
							<p>Cup Of Coffee</p>
						</div>
					</li>

					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item x">
							<h3>742</h3>
							<p>Total Download</p>
						</div>
					</li>

					<li>
						<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
							<h3>1548</h3>
							<p>Cup Of Coffee</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>