<section>
	<div class="col-xs-12 card animated bounceInDown home-item-1">
		<div class="col-xs-12 item-large">
			<h4>Where you are ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Dolor repudiandae nesciunt placeat non rerum doloremque sit nisi est, <br>doloribus aspernatur itaque nulla cum, modi accusamus porro officiis inventore, iste exercitationem?</p>
			<div class="col-xs-12 main-images">
				<img src="/images/startPage.png"/>
			</div>
			<ul>
				<li><a href="#">portfolio</a></li>
				<li><a href="#">contacts</a></li>
			</ul>
		</div>
	</div>
</section>