<section>
	<div class="col-xs-12 card info-item-3 animated bounceInDown">
		<div class="col-xs-12 item-large">
			<div class="col-xs-12 col-md-4 about-us-staff">
				<div class="col-xs-12 logo-company">
					<h2><font color="#02a8f3">Web</font>site</h2>
				</div>
				<div class="col-xs-12 foto-name">
					<div class="col-xs-12 foto">
						<!-- foto heare -->
					</div>
					<h3>Mauro Orsini.</h3>
					<h5>Graphic & WebDesigner</h5>
				</div>
				<div class="col-xs-12 foto-name">
					<div class="col-xs-12 foto">
						<!-- foto heare -->
					</div>
					<h3>Mauro Orsini.</h3>
					<h5>Graphic & WebDesigner</h5>
				</div>
				<div class="col-xs-12 foto-name">
					<div class="col-xs-12 foto">
						<!-- foto heare -->
					</div>
					<h3>Mauro Orsini.</h3>
					<h5>Graphic & WebDesigner</h5>
				</div>
				<div class="col-xs-12 foto-name">
					<div class="col-xs-12 foto">
						<!-- foto heare -->
					</div>
					<h3>Mauro Orsini.</h3>
					<h5>Graphic & WebDesigner</h5>
				</div>
			</div>
			<div class="col-xs-12 col-md-8 about-us-info">
				<div class="col-xs-12 about-us-description">
					<h4>About us:</h4>
					<div class="col-xs-12 description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus sit nesciunt animi architecto quae velit minus maiores temporibus odio similique iure ex reiciendis eum quaerat ea, laudantium. Magni, laboriosam, dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eum quos repudiandae incidunt eveniet voluptatibus, qui quidem. Libero ratione earum nostrum recusandae, autem consequuntur molestiae obcaecati, incidunt, blanditiis magnam iusto.</p>
					</div>
				</div>
				<div class="col-xs-12 important-events">
					<h4>Important events:</h4>
					<div class="col-xs-12 description">
						<h5>Events name &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(2000 - 2003)</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime unde ab minus maiores omnis, nulla hic fugiat sit fugit, nobis in assumenda quo. Itaque possimus commodi cupiditate, perspiciatis aspernatur.</p>
					</div>
					<div class="col-xs-12 description">
						<h5>Events name &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(2000 - 2003)</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime unde ab minus maiores omnis, nulla hic fugiat sit fugit, nobis in assumenda quo. Itaque possimus commodi cupiditate, perspiciatis aspernatur.</p>
					</div>
				</div>
				<div class="col-xs-12 awards">
					<h4>Awards or recognitions:</h4>
					<div class="col-xs-12 description">
						<ul>
							<li class="col-xs-6 col-sm-4 col-md-2"><a href="#"></a></li>
							<li class="col-xs-6 col-sm-4 col-md-2"><a href="#"></a></li>
							<li class="col-xs-6 col-sm-4 col-md-2"><a href="#"></a></li>
							<li class="col-xs-6 col-sm-4 col-md-2"><a href="#"></a></li>
							<li class="col-xs-6 col-sm-4 col-md-2"><a href="#"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 skills">
					<h4>General skills:</h4>
					<ul class="x">
						<li>Adobe Photoshop</li>
						<li>Adobe Illustrator</li>
						<li>HTML</li>
						<li>CSS</li>
						<li>JS</li>
					</ul>
					<ul class="ul-progress">
						<li>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
							</div>
						</li>
						<li>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"></div>
							</div>
						</li>
						<li>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						</li>
						<li>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div>
							</div>
						</li>
						<li>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 contacts">
					<h4>Contact us:</h4>
					<div class="col-xs-12 description">
						<ul class="x">
							<li>Mobile</li>
							<li>Email</li>
							<li>Skype</li>
							<li>Social</li>
							<li>Adres</li>
						</ul>
						<ul class="ul-right">
							<li>+(375)-33-677-00-99</li>
							<li>company-name@gmail.com</li>
							<li>company name</li>
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-vk"></i></a>
							<li>Italy, Agrate str.Via-verde 43 "Company name"</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>