<section>
	<div class="col-xs-12 card animated bounceInDown itlog-item">
		<div class="col-md-4 grid-block">
			<a href="#">
				<div class="col-xs-12 text-item-sli">
					<h5>category</h5>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nihil consequuntur veniam ducimus animi nisi illo iusto suscipit aperiam eius, harum distinctio, pariatur voluptatem non, natus numquam dolorum ut incidunt.</p>
				</div>
			</a>
			<a href="#">
				<div class="col-xs-12 image-item-sli">
					<div class="col-md-12 image">
						<!-- image heare -->
					</div>
					<div class="col-md-12 description">
						<h5>category</h5>
						<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet inventore autem sequi nobis hic dolorem porro tempora impedit. Ea possimus repudiandae delectus iusto ab alias quisquam magni dignissimos unde similique!</p>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-xs-12 video-item data-59">
					<!-- video heare -->
				</div>
			</a>
		</div>
		<div class="col-md-4 grid-block">
			<a href="#">
				<div class="col-xs-12 video-item-sli">
					<div class="col-md-12 video">
						<!-- image heare -->
					</div>
					<div class="col-md-12 description">
						<h5>category</h5>
						<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, atque eius numquam similique eum dolores, exercitationem repellendus cupiditate aspernatur iusto ratione consectetur animi, accusantium aliquid optio vero culpa esse quae.</p>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-xs-12 image-item-sli">
					<div class="col-md-12 image">
						<!-- image heare -->
					</div>
					<div class="col-md-12 description">
						<h5>category</h5>
						<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet inventore autem sequi nobis hic dolorem porro tempora impedit. Ea possimus repudiandae delectus iusto ab alias quisquam magni dignissimos unde similique!</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 grid-block">
			<a href="#">
				<div class="col-xs-12 image-item data-59">
					<!-- image heare -->
				</div>
			</a>
			<a href="#">
				<div class="col-xs-12 video-item-sli">
					<div class="col-md-12 video">
						<!-- image heare -->
					</div>
					<div class="col-md-12 description">
						<h5>category</h5>
						<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, atque eius numquam similique eum dolores, exercitationem repellendus cupiditate aspernatur iusto ratione consectetur animi, accusantium aliquid optio vero culpa esse quae.</p>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-xs-12 text-item">
					<h5>category</h5>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, consequuntur aspernatur. Ducimus ut, corporis beatae voluptates aspernatur culpa, eos magnam voluptas eveniet.</h4>
				</div>
			</a>
		</div>
	</div>
</section>