<section>
	<div class="col-md-12 multi-menu animated bounceInLeft">
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Top ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">New ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Servives ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Menagment ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Email ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Company ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Finance ?</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<div class="col-md-12 blog-page">
				<h4>Blog</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad quia ullam fugiat voluptates impedit <br>repellendus quaerat velit incidunt aspernatur vitae nemo, enim hic nulla vero consequuntur obcaecati eligendi a.</p>
				<p class="choose-category">Please choose a category</p>
				<div class="col-xs-12 text-center">
					<img  class="animated slideOutLeft infinite" src="./../images/icons/black.svg"/>
				</div>
			</div>
			<!-- Ajax loaded content here -->
		</div>
		
	</div>
</section>	