<section>
	<div class="col-xs-12 multi-menu animated bounceInLeft">
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1" href="#">About ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2" href="#">Philosophy ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-3" href="#">Ideas ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-4" href="#">Partnership ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-5" href="#">Jobs ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-6" href="#">Want to help ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-7" href="#">Still have questions ?</a></li>
				</ul>
				<ul data-menu="submenu-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1-1" href="#">About us ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1-2" href="#">About me ?</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1-3" href="#">About shop ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">About company ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">About portfolio ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">About services ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">About blog ?</a></li>
				</ul>
				<ul data-menu="submenu-1-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Who we are ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">What we do ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Our plans ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">What we love ?</a></li>
				</ul>
				<ul data-menu="submenu-1-2" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Who am I ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">What I do ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">What are your plans ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">What I love ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">How can I help ?</a></li>
				</ul>
				<ul data-menu="submenu-1-3" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Shipping of goods ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Payment ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Pay ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Gorant ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Return of funds ?</a></li>
				</ul>
				<ul data-menu="submenu-2" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">My philosophy ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Philosophy company ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Philosophy products ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Philosophy portfolio ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Philosophy services ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Philosophy blog ?</a></li>
				</ul>
				<ul data-menu="submenu-3" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">IT ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Design ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Technology ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Food ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Profit ?</a></li>
				</ul>
				<ul data-menu="submenu-4" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">MLM system ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Income from sales ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Your people ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Withdrawal of funds ?</a></li>
				</ul>
				<ul data-menu="submenu-5" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">It development ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">PHP development ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Front-end ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Back-end</a></li>
				</ul>
				<ul data-menu="submenu-6" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Paid help ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Free help ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Any suggestions ?</a></li>
				</ul>
				<ul data-menu="submenu-7" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Not our answer ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Other reasons ?</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<div class="col-xs-12 example-info-page">
				<h4>info</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad quia ullam fugiat voluptates impedit <br>repellendus quaerat velit incidunt aspernatur vitae nemo, enim hic nulla vero consequuntur obcaecati eligendi a.</p>
				<p class="choose-category">Please choose a category</p>
				<div class="col-xs-12 text-center">
					<img  class="animated slideOutLeft infinite" src="./../images/icons/black.svg"/>
				</div>
			</div>
			<!-- Ajax loaded content here -->
		</div>
		
	</div>
</section>	