<section>
	<div class="col-md-12 multi-menu animated bounceInLeft">
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Working with data ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Computing design ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Information security ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Support sites ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Computer visionе ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">System management ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Translations ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Move ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Development ?</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<div class="col-md-12 services-page text-center">
				<h4>Services</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad quia ullam fugiat voluptates <br>impedit repellendus quaerat velit incidunt aspernatur vitae nemo, enim hic nulla vero consequuntur obcaecati eligendi a.</p>
				<p class="choose-category">Please choose a category</p>
				<div class="col-md-12 text-center">
					<img  class="animated slideOutLeft infinite" src="./../images/icons/black.svg"/>
				</div>
			</div>
			<!-- Ajax loaded content here -->
		</div>
		
	</div>
</section>