<section>
	<div class="col-xs-12 pagination">
		<nav>
			<ul>
				<li><a href="#" aria-label="Previous" class="previous"></a></li>
				<li class="active"><a>1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Next" class="next"></a></li>
			</ul>
		</nav>
	</div>
</section>