<section>
	<div class="col-xs-12 cards animated bounceIn portfolio-item-1">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-50">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-51">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-52">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-53">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-54">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-55">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-56">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-57">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-58">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>