<section>
	<div class="col-md-12 block projects text-center cr">
		<div class="col-md-12 Projects-slide Slide carousel" data-interval="false">
			
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<% include _projects-item-1 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include _projects-item-2 %>
					</div>
				</div>
			</div>
			<a class="left carousel-control animated bounceInLeft" href=".Projects-slide" role="button" data-slide="prev">
				<span aria-hidden="true"><img class="animated bounceIn infinite" src="/images/left.svg" /></span>
			</a>
			<a class="right carousel-control animated bounceInRight" href=".Projects-slide" role="button" data-slide="next">
				<span aria-hidden="true"><img class="animated bounceIn infinite" src="/images/right.svg" /></span>
			</a>
		</div>
	</div>
</section>