<section>
	<div class="col-xs-12 animated bounceIn programs-item-1">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-24">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-25">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-26">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-27">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-28">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-29">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-30">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-31">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-32">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>