<section>
	<div class="col-xs-12 cards animated bounceInDown projects-item-2">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-20">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-21">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-22">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-23">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>