<section>
	<div class="col-xs-12 cards animated bounceInDown projects-item-1">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-11">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-12">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-13">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-14">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-15">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-16">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-17">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-18">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-19">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>