<section>
	<div class="col-xs-12 animated bounceIn projects-item-1">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-11">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-12">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-13">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-14">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-15">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-16">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-17">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-18">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-sm data-19">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>