<section>
	<div class="col-xs-12 card animated bounceIn projects-item-1">
		<ul>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<div class="col-xs-12 ex-projects">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>