<section>
	<div class="col-xs-12 search-item animated bounceInDown">
		<a href="blog-post">
			<div class="col-xs-12 col-md-2 image-item">
				<!-- image heare -->
			</div>
			<div class="col-xs-12 col-md-10 text-item">
				<h5>Example name.</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed maiores laborum quisquam eveniet repudiandae impedit, voluptatum, quasi nemo ex eum nam explicabo perspiciatis assumenda tempora autem eligendi nostrum? Vel, nesciunt!</p>
			</div>
		</a>
	</div>
</section>