<section>
	<div class="col-xs-12 col-sm-6 col-md-4 form-sign-up animated bounceInDown">
		<div class="col-md-12">
			<h3>Sign in</h3>
			<a href="sign-up">sign-up</a>
		</div>
		<div class="col-xs-12 form">
			<form method="POST">
				<fieldset>		
					<label>
						<input type="text" name="email" placeholder="@ email" requred />
						<legend>email</legend>
					</label>
				</fieldset>
				<fieldset>		
					<label>
						<input type="password" ref="password" name="password" placeholder="password" />
						<legend>password</legend>
					</label>
				</fieldset>
				<fieldset>
					<label>
						<button type="submit">sign-in</button>
					</label>
				</fieldset>
			</form>
		</div>
		<div class="col-xs-12 soc-sign">
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-odnoklassniki"></i></a>
			<a href="#"><i class="fa fa-vk"></i></a>
		</div>
	</div>
</section>