<section>
	<div class="col-xs-12 staff">
		<div class="col-xs-12 block-mesage">
			<img src="./../images/icons/people.svg" alt="" />
			<h5>Our staff ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<a href="blog">staff</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2 staff-item">
			<a href="#"><!-- image heare --></a>
		</div>
	</div>
	<svg fill="rgba(2, 168, 243, .1)" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 50 L100 0 Z" />
	</svg>
</section>