<section>
	<div class="col-xs-12 cards animated bounceInDown templates-item-1">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-37">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-38">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-39">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-40">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-41">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-42">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-43">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-44">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-6 col-md-4 item-small data-45">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>