<section>
	<div class="col-xs-12 cards animated bounceInDown templates-item-2">
		<ul>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-46">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-47">
						<!-- image heare -->
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-48">
						<!-- image heare -->
					</div>
				</medium
			</li>
			<li>
				<a href="#">
					<div class="col-xs-12 col-sm-12 col-md-6 item-medium data-49">
						<!-- image heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>